div.md-toolbar.title.md-theme-default {
  background: #333;
  color: #fff;
  padding-top: 25px;
  padding-bottom: 25px;

  h1 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
  }
}